.ff-form{
	padding: 20px;
}
.ff-line{
	margin-bottom: 15px;
}
.ff-line label{
	padding-bottom: 10px;
	display: block;
}
.ff-line input[type=text]{
	width: 300px;
	height: 30px;
	outline: none;
	padding: 0px 10px;
}
.ff-line input[type=button]{
	width: 100px;
	height: 30px;
	outline: none;
	padding: 0px 10px;
}